<ion-view view-title="About this project">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <p>This sample application is part of Bachelor Thesis project: "COMPARISON STUDY BETWEEN DEVELOPING APPLICATION USER INTERFACE USING WEB TECHNOLOGIES VERSUS QT AND QML".</p>
      </div>

      <div class="item item-divider">
        <span>Oulu University of Applied Sciences, OAMK</span>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-energized" align-title="center">
    <div class="title">
      <small>&copy; Claudia Caro 2016-2017</small>
    </div>
  </ion-footer-bar>
</ion-view>
