<ion-view view-title="Contact">
  <ion-content>
    <div>
      <img src="img/{{contact.img}}" style ="width: 100%;">
      <h3 class="padding-left">{{contact.name}}</h3>
    </div>

    <ul class="list">
      <li class="item">
        Status
        <span class="item-note">
          {{contact.status}}
        </span>
      </li>

      <li class="item item-icon-right">
        <i class="icon ion-ios-bell"></i>
        Mute
      </li>

      <li class="item item-icon-right">
        <i class="icon ion-ios-telephone"></i>
        Phone number
      </li>

      <li class="item item-icon-right">
        <i class="icon ion-wifi"></i>
        WiFi password
      </li>

    </ul>
  </ion-content>
</ion-view>
