<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <div>
        <img src="img/ionic.png" class="padding">
        <span ng-click="toggleAccountList()" class="item item-icon-right">
          <strong><small>User Name</strong></small>
          <span class="item-note">
            email@emai.com
          </span>
          <i class="icon ion-android-arrow-dropdown"></i>
        </span>
      </div>

      <ion-list ng-if="!accountList">
        <a menu-close class="item item-icon-left" href="#/app/mail">
          <i class="icon ion-email"></i>
          Check mail
        </a>

        <a menu-close class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-chatbubble-working"></i>
          Call Someone
          <i class="icon ion-ios-telephone-outline"></i>
        </a>

        <a menu-close class="item item-icon-left" href="#/app/tabs/contactslist">
          <i class="icon ion-person-stalker"></i>
          Friends
          <span class="badge badge-energized">0</span>
        </a>

        <div menu-close class="item item-divider">
          Activities
        </div>

        <a menu-close class="item item-icon-left" href="#">
          <i class="icon ion-beaker"></i>
          Breaking Bad
          <span class="item-note">
            Blue, yellow
          </span>
        </a>

        <a menu-close class="item item-icon-left" href="#">
          <i class="icon ion-music-note"></i>
          Music
          <span class="item-note">
            Lalala
          </span>
        </a>
      </ion-list>

      <ion-list ng-if="accountList">
        <a menu-close class="item item-icon-left" href="#">
          <i class="icon ion-plus"></i>
          Add account
        </a>

        <a menu-close class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
          Manage accounts
        </a>

        <a menu-close class="item item-icon-left" href="#">
          <i class="icon ion-gear-b"></i>
          Settings
        </a>
      </ion-list>

      <ion-item menu-close ng-click="login()">
        <span class="item-icon-left">
          <i class="icon ion-log-in"></i>
          Login
        </span>
      </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
