<ion-tabs class="tabs-icon-top tabs-bottom tabs-striped tabs-color-royal tabs-color-active-royal">

  <!-- Home Tab -->
  <ion-tab title="Friends" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/app/tabs/contactslist">
    <ion-nav-view name="tab-contactslist"></ion-nav-view>
  </ion-tab>

  <!-- Camera Tab -->
  <ion-tab title="Camera" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/app/tabs/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>

    <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/app/tabs/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>